@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic);

* 
{
  margin: 0;
  padding: 0;
}

border-image{
  margin: 0;
  padding: 0;
}

body {
    background-image: url("img/background.jpg");
	font-family: 'Roboto', Arial, sans-serif;
}

h1 {
	color: #474747;
	font-size: 36px;
	font-weight: 500;
}

h2 {
	color: #474747;
	font-size: 17px;
	font-weight: 400;
}

h3 {
	color: #474747;
	font-size: 15px;
	font-weight: 300;
	line-height: 25px;
}

h4 {
	color: #474747;
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
}

strong, b{
	font-weight: 500;
}

/* unvisited link */
a {
    color: #0077bc;
	font-weight: 400;
}

/* visited link */
a:visited {
    color: #0077bc;
	font-weight: 400;
}

/* mouse over link */
a:hover {
    color: red;
	font-weight: 400;
}

/* selected link */
a:active {
    color: #0077bc;
	font-weight: 400;
}

p {
    color: #606060;
}

#menu {
	margin: 5px 0 0 0;
    padding: 0px;
	list-style: none;
}

#menu li {
    border-bottom: 1px solid #e0e0e0;
	padding: 12px 0;
	color: #606060;
	font-size: 13px;
	background-image: url(img/shape.png);
	background-repeat: no-repeat;
	background-position: 0px center; 
    padding-left: 10px;
}

.mainblock {
	background-color: white;
	width: 730px;
	margin: 30px auto;
	padding: 0 0 30px 0;
	-moz-box-shadow: 3px 3px 3px #474747;
	-webkit-box-shadow: 3px 3px 3px #474747;
	box-shadow: 3px 3px 3px #474747;
}

.mainblock .header{
	float: left;
	width: 100%;	
	/*background: red;*/
}

.mainblock .header .header-left{
	float: left;
	padding: 35px;
	/*background: green;*/
	margin: 0 auto;
	
}

.mainblock .header .header-right{
	float: right;
	padding: 35px;
	/*background: yellow;*/
}

.mainblock .content {
	margin: 0 30px 0 30px;
}

.mainblock .content .title{
	margin: 20px 0 0;
}

.mainblock .content .description{
	margin: 30px 0 0;
}

.mainblock .content .inscription{
	margin: 30px 0 0;
}

.mainblock .content .list-title{
	margin: 30px 0 0;
}

.button{
    display: block;
	margin: 30px 0 0 0;
	height: 40px;
	width: 125px;
	background: #0077bb;
	text-align: center;
}

.button:hover{
	margin: 30px 0 0 0;
	height: 40px;
	width: 125px;
	background: red;
	text-align: center;
	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
}