@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic);

* 
{
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

border-image{
  margin: 0;
  padding: 0;
}

body {
    background: url("img/background.jpg") no-repeat 0px center;
	font-family: 'Roboto', Arial, sans-serif;
    color: #474747;
}

a {
    text-decoration: underline;
    color: #0077bc;
	font-weight: 400;
}

a:hover {
    color: red;
}

.nounderlined {
    text-decoration: none;
}

p {
    font-size: 14px;
	font-weight: 300;
	line-height: 25px;
    margin: 20px 0 0;
}

h1 {
	font-size: 36px;
	font-weight: 500;
    color: #606060
}

h2 {
	font-size: 17px;
	font-weight: 400;
}

h3 {
    color: #0077bc;
	font-weight: 400;
    font-size: 15px;
    margin: 30px 0 10px;
}

strong, b {
	font-weight: 500;
}

#menu {
	margin: 5px 0 0 0;
    padding: 0px;
	list-style: none;
}

#menu li {
    border-bottom: 1px solid #e0e0e0;
	padding: 12px 0 12px 10px;
	color: #606060;
	font-size: 13px;
	background-image: url(img/shape.png); 
	background-repeat: no-repeat;
	background-position: 0px center; 
}

.mainblock {
	background-color: white;
	width: 731px;
	margin: 30px auto;
	padding: 0 0 30px 0;
    -moz-box-shadow: 0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
}

.mainblock .header {
	float: left;
	width: 100%;	
    text-decoration: none;
}

.mainblock .header .header-left {
	float: left;
	padding: 35px;
	margin: 0 auto;
	
}

.mainblock .header .header-right {
	float: right;
	padding: 35px;
}

.slider {
    padding: 115px 0 0px;    
}

.mainblock .content {
	margin: 0 30px 0 30px;
}

.mainblock .content .intro {
	margin: 20px 0 0;
}

.mainblock .content .description {
	margin: 30px 0 0;
}

.mainblock .content .inscription {
	margin: 30px 0 0;
}

.button {
    display: inline-block;
    border: 5 px solid #0077bb;
	margin: 30px 0 0 0;
	height: 30px;
	width: 125px;
	background: #0077bb;
	text-align: center;
    color: white;
    padding: 10px 0 0 0;
    text-decoration: none;
}

.button:hover {
    display: inline-block;
    border: 20 px solid #0077bb;
    color: white;
    margin: 30px 0 0 0;
	height: 30px;
	width: 125px;
    padding: 10px 0 0 0;
	background: red;
	text-align: center;
    text-decoration: none;
}